<div class="box" *ngIf="request">
  <legend><b>Editar Usuário</b></legend>
    <input  placeholder="Insira o nome" [(ngModel)]="request.name">
  
  <br><br>
  
    <input placeholder="Insira a Sobrenome" [(ngModel)]="request.last_name">
  
  <br><br>
  
    <input placeholder="Insira a profissão" [(ngModel)]="request.job">
  
  <br><br>
  
    <input placeholder="Insira a email" [(ngModel)]="request.email">
  
  <br><br>
  
    <input placeholder="Insira a idade" [(ngModel)]="request.age">
  
  <br><br>
  <button id="btn-cadastrar" (click)="update()">Atualizar</button>
</div>