.box{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#154360;
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
button{
    margin: 0 5px;
}